    <nav>
        <ul class="tabs-menu" id="id-tabs-menu">
            <li class="li-left margin-left1 margin-right1 tabs-menu--logo "><a href="/"><b>Rest</b><span>View</span></a></li>
            <li class="li-left  "><a href="/feed">The Feeder</a></li>
            <li class="li-left  "><a href="/restaurants/map/default">The Mapkin</a></li>
            <li class="li-left "><a href="/restaurants/new">Add yours</a></li>  <!-- add-tab-->
            <li class="li-right "><a class="padding-top0-right0" id="facebookShareElement" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
            <li class="li-right "><a class="padding-top0-right0" id="whatsappShareElement" target="_blank" data-action="share/whatsapp/share"><i  class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
            <li class="li-right  "><a href="/about">About</a></li>
              <li class="li-right icon-menu " >
                    <a href="javascript:void(0);"  onclick="OpenIconMenu()" > <i class="fa fa-bars"></i>    </a>
             </li>
        </ul>
    </nav>