<!DOCTYPE html>
<html lang="en">
    <head>
        <title>About</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="styles/icons/rest_favicon.png" />
        <link rel="stylesheet" type="text/css" href="/styles/index.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
    
        <% include partials/nav %>
    
        <div class="text-about space-p4 margin-left10 margin-right10 margin-top3 background-img--about space-p1 margin-bottom1 padding-bottom5" >
    
            <h1 class="color-text--dark">  Our story.</h1>
            <p>
                We love what can happen around the restaurant table. 
            </p>
            <p>
                Since 2018, we’ve been committed to empowering that experience.<br> 
                From helping restaurants grow and run their businesses, to enabling diners to discover and book the perfect table every time they dine. .<br>
                our story is one of connection — among diners, restaurants, and their communities.<br>
                But the table is just the start.
            </p>
            <p>
                Now, we’re growing globally like never before, and continuing to lead the conversation in the tech and restaurant spaces with products that anticipate the changing needs of restaurants and diners.<br> 
                As we span countries and cultures, we’re very aware of an essential ingredient in making the power of our products possible: you.
            </p>
            <p>
                You are the reason why we work hard to be one step ahead of the moment and what inspires us to embody the true spirit of hospitality.<br> 
                So, pull up a chair and join us.
            </p>
            <p>
                We provide free resources to help people comprehend what it takes to be successful and make a more informed decision about whether getting into the restaurant business 
                is the best business and career choice for them. We consider it our duty to...
            </p>
            <p>
                Our resources are designed to improve the proficiency of restaurant owners and key personnel to 
                become better business managers, <br> 
                implement effective systems and create a culture of hospitality, excellence and accountability. 
            </p>
        </div>

        <% include partials/footer %>
        
        <script src="/models/responsive.js" type="text/javascript"> </script>
        <script src="/models/share.js" type="text/javascript"> </script>

    </body>
</html>