
.tabs-menu i, .tabs-menu a {/*for all tabs in menu*/
    display: block;
    color: white;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
    border-bottom: 0.1875rem solid transparent;
}
.tabs-menu a:hover {
    border-bottom: 0.1875rem solid #9a9a38;
}
.tabs-menu--logo + li a { /*border line between logo and first tab*/
    border-left: 0.0625rem #a5a5a5 solid;
}
.tabs-menu i { /*welcome tab color*/
    color: #9c9c9c;
}
.tabs-menu--logo a { /*logo naming*/
    padding: 0rem 0rem;
    font-size: 2.5rem;
}
.tabs-menu--logo a:hover {
    border-bottom: 0.1875rem solid transparent;
}

.li-left { /* for horizontal menu*/
    float: left;
}

.li-right {
    float: right;
}

